# Test Results - Adopt A Candidate

<br>

<details>
    <summary>Table of Contents</summary>

- [Test Results - Adopt A Candidate](#test-results---adopt-a-candidate)
- [Build 1](#build-1)
  - [Company register](#company-register)
  - [Candidate register](#candidate-register)
  - [Extra](#extra)
- [Build 2](#build-2)
  - [Account modification](#account-modification)
  - [Company swiping](#company-swiping)
  - [Candidate swiping](#candidate-swiping)
  - [Match](#match)
  - [Extra](#extra-1)
- [Build 3](#build-3)
  - [Algorithm](#algorithm)
  - [Settings](#settings)
  - [Extra](#extra-2)
- [Build 4](#build-4)
  - [Company chat](#company-chat)
  - [Candidate chat](#candidate-chat)
  - [Extra](#extra-3)

</details>

---

Precisions:
- [Test plan](./TestPlan.md)
- [Test cases](./TestCases.md)

# Build 1

## Company register

|Test case   |Working version|Problems|
|------------|---------------|--------|
| COM_REG101 |  | [#13](https://github.com/algosup/2023-2024-project-5-flutter-team-3/issues/13), [#37](https://github.com/algosup/2023-2024-project-5-flutter-team-3/issues/37)|
| COM_REG102 |  | [#14](https://github.com/algosup/2023-2024-project-5-flutter-team-3/issues/14), [#37](https://github.com/algosup/2023-2024-project-5-flutter-team-3/issues/37) |
| COM_REG103 |  | [#14](https://github.com/algosup/2023-2024-project-5-flutter-team-3/issues/14), [#37](https://github.com/algosup/2023-2024-project-5-flutter-team-3/issues/37) |
| COM_REG104 |  | [#13](https://github.com/algosup/2023-2024-project-5-flutter-team-3/issues/13), [#37](https://github.com/algosup/2023-2024-project-5-flutter-team-3/issues/37) |
| COM_REG105 |  | [#14](https://github.com/algosup/2023-2024-project-5-flutter-team-3/issues/14), [#37](https://github.com/algosup/2023-2024-project-5-flutter-team-3/issues/37) |
| COM_REG106 |  | [#14](https://github.com/algosup/2023-2024-project-5-flutter-team-3/issues/14), [#37](https://github.com/algosup/2023-2024-project-5-flutter-team-3/issues/37) |

## Candidate register

|Test case   |Working version|Problems|
|------------|---------------|--------|
| CAN_REG107 ||[#13](https://github.com/algosup/2023-2024-project-5-flutter-team-3/issues/13), [#37](https://github.com/algosup/2023-2024-project-5-flutter-team-3/issues/37)|
| CAN_REG108 ||[#14](https://github.com/algosup/2023-2024-project-5-flutter-team-3/issues/14), [#37](https://github.com/algosup/2023-2024-project-5-flutter-team-3/issues/37)|
| CAN_REG109 ||[#14](https://github.com/algosup/2023-2024-project-5-flutter-team-3/issues/14), [#37](https://github.com/algosup/2023-2024-project-5-flutter-team-3/issues/37)|
| CAN_REG110 ||[#13](https://github.com/algosup/2023-2024-project-5-flutter-team-3/issues/13), [#37](https://github.com/algosup/2023-2024-project-5-flutter-team-3/issues/37)|
| CAN_REG111 ||[#14](https://github.com/algosup/2023-2024-project-5-flutter-team-3/issues/14), [#37](https://github.com/algosup/2023-2024-project-5-flutter-team-3/issues/37)|
| CAN_REG112 ||[#14](https://github.com/algosup/2023-2024-project-5-flutter-team-3/issues/14), [#37](https://github.com/algosup/2023-2024-project-5-flutter-team-3/issues/37)|

## Extra

|Test case   |Working version|Problems|
|------------|---------------|--------|
| CC_EXT113||[#14](https://github.com/algosup/2023-2024-project-5-flutter-team-3/issues/14), [#37](https://github.com/algosup/2023-2024-project-5-flutter-team-3/issues/37)|
| CC_EXT114||[#14](https://github.com/algosup/2023-2024-project-5-flutter-team-3/issues/14), [#37](https://github.com/algosup/2023-2024-project-5-flutter-team-3/issues/37)|
| CC_EXT115||[#14](https://github.com/algosup/2023-2024-project-5-flutter-team-3/issues/14), [#37](https://github.com/algosup/2023-2024-project-5-flutter-team-3/issues/37)|
| CC_EXT116||[#13](https://github.com/algosup/2023-2024-project-5-flutter-team-3/issues/13), [#14](https://github.com/algosup/2023-2024-project-5-flutter-team-3/issues/14) and [#37](https://github.com/algosup/2023-2024-project-5-flutter-team-3/issues/37)|
| CC_EXT117||[#14](https://github.com/algosup/2023-2024-project-5-flutter-team-3/issues/14), [#37](https://github.com/algosup/2023-2024-project-5-flutter-team-3/issues/37)|
| CC_EXT118||[#14](https://github.com/algosup/2023-2024-project-5-flutter-team-3/issues/14)|
| COM_EXT119||[#14](https://github.com/algosup/2023-2024-project-5-flutter-team-3/issues/14), [#37](https://github.com/algosup/2023-2024-project-5-flutter-team-3/issues/37)|
| COM_EXT120||[#14](https://github.com/algosup/2023-2024-project-5-flutter-team-3/issues/14)|
| CAN_EXT121||[#14](https://github.com/algosup/2023-2024-project-5-flutter-team-3/issues/14), [#37](https://github.com/algosup/2023-2024-project-5-flutter-team-3/issues/37)|
| CAN_EXT122||[#14](https://github.com/algosup/2023-2024-project-5-flutter-team-3/issues/14)|


# Build 2

## Account modification

| Test case   | Working version | Problems |
|-------------|-----------------|----------|
| COM_MOD223  |                 | [#38](https://github.com/algosup/2023-2024-project-5-flutter-team-3/issues/38)         |
| COM_MOD224  |                 | [#38](https://github.com/algosup/2023-2024-project-5-flutter-team-3/issues/38)         |
| COM_MOD225  |                 | [#38](https://github.com/algosup/2023-2024-project-5-flutter-team-3/issues/38)         |
| CAN_MOD226  |                 | [#38](https://github.com/algosup/2023-2024-project-5-flutter-team-3/issues/38)         |
| COM_MOD227  |                 | [#38](https://github.com/algosup/2023-2024-project-5-flutter-team-3/issues/38)         |
| CAN_MOD228  |                 | [#38](https://github.com/algosup/2023-2024-project-5-flutter-team-3/issues/38)         |
| COM_MOD229  |                 | [#38](https://github.com/algosup/2023-2024-project-5-flutter-team-3/issues/38)         |
| CAN_MOD230  |                 | [#38](https://github.com/algosup/2023-2024-project-5-flutter-team-3/issues/38)         |
| COM_MOD231  |                 | [#38](https://github.com/algosup/2023-2024-project-5-flutter-team-3/issues/38)         |
| CAN_MOD232  |                 | [#38](https://github.com/algosup/2023-2024-project-5-flutter-team-3/issues/38)         |
| COM_MOD233  |                 | [#38](https://github.com/algosup/2023-2024-project-5-flutter-team-3/issues/38)         |
| CAN_MOD234  |                 | [#38](https://github.com/algosup/2023-2024-project-5-flutter-team-3/issues/38)         |
| COM_MOD235  |                 | [#38](https://github.com/algosup/2023-2024-project-5-flutter-team-3/issues/38)        |
| CAN_MOD236  |                 | [#38](https://github.com/algosup/2023-2024-project-5-flutter-team-3/issues/38)         |

## Company swiping

| Test case   | Working version | Problems |
|-------------|-----------------|----------|
| COM_SW237   |                 |[#38](https://github.com/algosup/2023-2024-project-5-flutter-team-3/issues/38)          |
| COM_SW238   |                 |[#38](https://github.com/algosup/2023-2024-project-5-flutter-team-3/issues/38)          |

## Candidate swiping

| Test case   | Working version | Problems |
|-------------|-----------------|----------|
| CAN_SW239   |                 |[#38](https://github.com/algosup/2023-2024-project-5-flutter-team-3/issues/38)          |
| CAN_SW240   |                 |[#38](https://github.com/algosup/2023-2024-project-5-flutter-team-3/issues/38)          |

## Match

| Test case   | Working version | Problems |
|-------------|-----------------|----------|
| CC_SW241    |                 |[#38](https://github.com/algosup/2023-2024-project-5-flutter-team-3/issues/38)          |
| CC_SW242    |                 |[#38](https://github.com/algosup/2023-2024-project-5-flutter-team-3/issues/38)          |

## Extr

| Test case   | Working version | Problems |
|-------------|-----------------|----------|
| CC_EXT243   |                 |[#38](https://github.com/algosup/2023-2024-project-5-flutter-team-3/issues/38)          |
| CC_EXT244   |                 | |
| CC_EXT245   |                 |      |
| CC_EXT246   |                 |    |
| CC_EXT247   |                 |[#38](https://github.com/algosup/2023-2024-project-5-flutter-team-3/issues/38)          |
| CC_EXT248   |                 |[#38](https://github.com/algosup/2023-2024-project-5-flutter-team-3/issues/38)          |
| CC_EXT249   |                 |[#38](https://github.com/algosup/2023-2024-project-5-flutter-team-3/issues/38)          |
| CC_EXT250   |                 |[#38](https://github.com/algosup/2023-2024-project-5-flutter-team-3/issues/38)          |
| COM_EXT251  |                 |[#38](https://github.com/algosup/2023-2024-project-5-flutter-team-3/issues/38)          |
| CC_EXT252   |                 |[#38](https://github.com/algosup/2023-2024-project-5-flutter-team-3/issues/38)          |
| CC_EXT253   |                 |[#38](https://github.com/algosup/2023-2024-project-5-flutter-team-3/issues/38)          |

# Build 3

## Algorithm

|Test case   |Working version|Problems|
|------------|---------------|--------|
| CC_MAT354  |               |[#40](https://github.com/algosup/2023-2024-project-5-flutter-team-3/issues/40)        |
| CC_MAT355  |               |[#40](https://github.com/algosup/2023-2024-project-5-flutter-team-3/issues/40)        |
| CC_MAT356  |               |[#40](https://github.com/algosup/2023-2024-project-5-flutter-team-3/issues/40)      |
| CC_MAT357  |               | [#40](https://github.com/algosup/2023-2024-project-5-flutter-team-3/issues/40)       |
| CC_MAT358  |               | [#40](https://github.com/algosup/2023-2024-project-5-flutter-team-3/issues/40)       |

## Settings

|Test case   |Working version|Problems|
|------------|---------------|--------|
| CC_SET359  |               | |
| CC_SET360  |               |[#40](https://github.com/algosup/2023-2024-project-5-flutter-team-3/issues/40)        |

## Extra

|Test case   |Working version|Problems|
|------------|---------------|--------|
| CC_EXT361  |               |[#40](https://github.com/algosup/2023-2024-project-5-flutter-team-3/issues/40)        |
| CC_EXT362  |               |    |
| CC_EXT363  |               |       |

# Build 4

## Company chat

|Test case   |Working version|Problems|
|------------|---------------|--------|
| COM_CHA464 |               |[#41](https://github.com/algosup/2023-2024-project-5-flutter-team-3/issues/41)        |
| COM_CHA465 |               |[#41](https://github.com/algosup/2023-2024-project-5-flutter-team-3/issues/41)        |
| COM_CHA466 |               |[#41](https://github.com/algosup/2023-2024-project-5-flutter-team-3/issues/41)        |

## Candidate chat

|Test case   |Working version|Problems|
|------------|---------------|--------|
| CAN_CHA467 |               |[#41](https://github.com/algosup/2023-2024-project-5-flutter-team-3/issues/41)        |
| CAN_CHA468 |               |[#41](https://github.com/algosup/2023-2024-project-5-flutter-team-3/issues/41)        |
| CAN_CHA469 |               |[#41](https://github.com/algosup/2023-2024-project-5-flutter-team-3/issues/41)        |

## Extra

|Test case   |Working version|Problems|
|------------|---------------|--------|
| CC_EXT470  |               |[#41](https://github.com/algosup/2023-2024-project-5-flutter-team-3/issues/41)|
| CC_EXT471  |               |[#41](https://github.com/algosup/2023-2024-project-5-flutter-team-3/issues/41)|
| CC_EXT472  |               |[#41](https://github.com/algosup/2023-2024-project-5-flutter-team-3/issues/41)|
| CC_EXT473  |               |[#41](https://github.com/algosup/2023-2024-project-5-flutter-team-3/issues/41)|

