# Test Results - Adopt A Candidate

<br>

<details>
    <summary>Table of Contents</summary>

- [Test Results - Adopt A Candidate](#test-results---adopt-a-candidate)
- [Build 1](#build-1)
  - [Company register](#company-register)
  - [Candidate register](#candidate-register)
  - [Extra](#extra)
- [Build 2](#build-2)
  - [Account modification](#account-modification)
  - [Company swiping](#company-swiping)
  - [Candidate swiping](#candidate-swiping)
  - [Match](#match)
  - [Extra](#extra-1)
- [Build 3](#build-3)
  - [Algorithm](#algorithm)
  - [Settings](#settings)
  - [Extra](#extra-2)
- [Build 4](#build-4)
  - [Company chat](#company-chat)
  - [Candidate chat](#candidate-chat)
  - [Extra](#extra-3)

</details>

---

Precisions:
- [Test plan](./TestPlan.md)
- [Test cases](./TestCases.md)

# Build 1

## Company register

|Test case   |Working version|Problems|
|------------|---------------|--------|
| COM_REG101 |  |  |
| COM_REG102 |  |  |
| COM_REG103 |  |  |
| COM_REG104 |  |  |
| COM_REG105 |  |  |
| COM_REG106 |  |  |

## Candidate register

|Test case   |Working version|Problems|
|------------|---------------|--------|
| CAN_REG107 |||
| CAN_REG108 |||
| CAN_REG109 |||
| CAN_REG110 |||
| CAN_REG111 |||
| CAN_REG112 |||

## Extra

|Test case   |Working version|Problems|
|------------|---------------|--------|
| CC_EXT113|||
| CC_EXT114|||
| CC_EXT115|||
| CC_EXT116|||
| CC_EXT117|||
| CC_EXT118|||
| COM_EXT119|||
| COM_EXT120|||
| CAN_EXT121|||
| CAN_EXT122|||


# Build 2

## Account modification

| Test case   | Working version | Problems |
|-------------|-----------------|----------|
| COM_MOD223  |                 |          |
| COM_MOD224  |                 |          |
| COM_MOD225  |                 |          |
| CAN_MOD226  |                 |          |
| COM_MOD227  |                 |          |
| CAN_MOD228  |                 |          |
| COM_MOD229  |                 |          |
| CAN_MOD230  |                 |          |
| COM_MOD231  |                 |          |
| CAN_MOD232  |                 |          |
| COM_MOD233  |                 |          |
| CAN_MOD234  |                 |          |
| COM_MOD235  |                 |          |
| CAN_MOD236  |                 |          |

## Company swiping

| Test case   | Working version | Problems |
|-------------|-----------------|----------|
| COM_SW237   |                 |          |
| COM_SW238   |                 |          |

## Candidate swiping

| Test case   | Working version | Problems |
|-------------|-----------------|----------|
| CAN_SW239   |                 |          |
| CAN_SW240   |                 |          |

## Match

| Test case   | Working version | Problems |
|-------------|-----------------|----------|
| CC_SW241    |                 |          |
| CC_SW242    |                 |          |

## Extra

| Test case   | Working version | Problems |
|-------------|-----------------|----------|
| CC_EXT243   |                 |          |
| CC_EXT244   |                 |          |
| CC_EXT245   |                 |          |
| CC_EXT246   |                 |          |
| CC_EXT247   |                 |          |
| CC_EXT248   |                 |          |
| CC_EXT249   |                 |          |
| CC_EXT250   |                 |          |
| COM_EXT251  |                 |          |
| CC_EXT252   |                 |          |
| CC_EXT253   |                 |          |

# Build 3

## Algorithm

|Test case   |Working version|Problems|
|------------|---------------|--------|
| CC_MAT354  |               |        |
| CC_MAT355  |               |        |
| CC_MAT356  |               |        |
| CC_MAT357  |               |        |
| CC_MAT358  |               |        |

## Settings

|Test case   |Working version|Problems|
|------------|---------------|--------|
| CC_SET359  |               |        |
| CC_SET360  |               |        |

## Extra

|Test case   |Working version|Problems|
|------------|---------------|--------|
| CC_EXT361  |               |        |
| CC_EXT362  |               |        |
| CC_EXT363  |               |        |

# Build 4

## Company chat

|Test case   |Working version|Problems|
|------------|---------------|--------|
| COM_CHA464 |               |        |
| COM_CHA465 |               |        |
| COM_CHA466 |               |        |

## Candidate chat

|Test case   |Working version|Problems|
|------------|---------------|--------|
| CAN_CHA467 |               |        |
| CAN_CHA468 |               |        |
| CAN_CHA469 |               |        |

## Extra

|Test case   |Working version|Problems|
|------------|---------------|--------|
| CC_EXT470  |               |        |
| CC_EXT471  |               |        |
| CC_EXT472  |               |        |
| CC_EXT473  |               |        |

