
.vscode/settings.json
adopte_a_candidate/linux/flutter/generated_plugin_registrant.cc
adopte_a_candidate/linux/flutter/generated_plugin_registrant.cc
adopte_a_candidate/linux/flutter/generated_plugin_registrant.cc
adopte_a_candidate/linux/flutter/generated_plugin_registrant.h
adopte_a_candidate/linux/flutter/generated_plugins.cmake
adopte_a_candidate/macos/Flutter/GeneratedPluginRegistrant.swift
adopte_a_candidate/windows/flutter/generated_plugin_registrant.cc
adopte_a_candidate/windows/flutter/generated_plugin_registrant.h
adopte_a_candidate/windows/flutter/generated_plugins.cmake
